@model List<ResultCommentDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Yorumlar</h4>

                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ad Soyad</th>
                                <th>Yorum</th>
                                <th>Tarih</th>
                                <th>Durum</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.UserNameSurname</td>
                                    <td>@item.CommentDetail</td>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.Status</td>
                                    @* <td><a href="#" class="btn btn-info">Ürünler</a></td> *@
                                    <td><a asp-area="Admin" asp-action="Update" asp-controller="Comment" asp-route-id="@item.UserCommentId" class="btn btn-warning">Güncelle</a></td>
                                    <td><a asp-area="Admin" asp-action="Delete" asp-controller="Comment" asp-route-id="@item.UserCommentId" class="btn btn-danger">Sil</a></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <td><a asp-area="Admin" asp-action="Create" asp-controller="Comment" class="btn btn-success">Ekle</a></td>
                </div>
            </div>
        </div>
    </div>
</section>